@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    :root{
        --green: green;
        --black: #130f40;
        --light-color: #666;
    }

    *{
        font-family: "Poppins", sans-serif;
        @apply m-0 p-0 box-border outline-none border-none no-underline capitalize;
    }
    
    html{
        @apply scroll-smooth scroll-pt-28;
    }

    body{
        @apply bg-[#eee];
    }

    header .search-form.active{
        @apply right-20;
        transition: all .3s linear;
    }
}
